body {
    background-color:beige;
}

.Ukol1 {
    text-align: center;
    color:coral;
}

.Ukol2 {
    text-align: center;
    color:coral;
}

.Ukol3 {
    text-align: center;
    color:coral;
}

.Ukol4 {
    text-align: center;
    color:coral;
}

.Ukol5 {
    text-align: center;
    color:coral;
}

.Ukol6 {
    text-align: center;
    color: coral;
}

.Ukol7 {
    text-align: center;
    color:coral;
}

.Ukol8 {
    text-align: center;
    color: coral;
}

.Ukol9 {
    text-align: center;
    color: coral;
}

.Ukol10 {
    text-align: center;
    color:coral
}

.Ukol11 {
    text-align: center;
    color: coral;
    position: relative;
}

img {
    position: relative;
    text-align: center;
    height:300px;
    width:400px;
}

#nadpis_pic {
    color: yellow;
    align-content: center;
    position: absolute;
    bottom: 70%;
    right: 40%;
    left: 40%;
}

#text_pic {
    color: yellow;
    align-content: center;
    position: absolute;
    top: 80%;
    right: 40%;
    left: 40%;
}
